<h2>Customer Details {{customer.firstName}} {{customer.lastName}}</h2>

<h4>Location: {{customer.location}}</h4>
<h4>Customer Balance: {{customer.balance}}</h4>
<h4>Loyalty Points: {{customer.loyaltypoints}}</h4>
<h4>Whatsapp Number: {{customer.whatsappnumber}}</h4>

<a href="/customer/edit/{{customer._id}}">Edit</a>
